/* Created by: Atri Sarker
* Created on: June 2024
* This file contains the css for the index page of Assign-05-FibbonacciFrenzy
*/
body {
  font-family: Arial, sans-serif;
  background-color: #169fa2;
  margin: 0;
  padding: 8px;
  color: #322669;
}

h1 {
  color: #750a0a;
}

.contentImg {
  width: 100px;
  height: auto;
}

#outputResult {
  font-size: 28px;
  color: #ffb22e
}